@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
p{
   color:black;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3{
   color: #A93660;
    font-family: 'Roboto', sans-serif;
}
h1:hover{
    color:darkslategray;
}

body{

background: linear-gradient(260deg, rgba(216,230,231,1) 0%, rgba(227,227,227,1) 100%);
    /*background: rgb(216,230,231);
background: linear-gradient(260deg, rgba(216,230,231,1) 0%, rgba(227,227,227,1) 100%);*/
}
.big-wrap{
    display: flex;
    flex-direction: column;
   
}
.top-header{
    display: flex;
    justify-content: flex-end;
    height: 50px; 
}
.logo{
    margin-right: auto;
    margin-left: 50px;
    
}
.flex-nav{
    display: flex;
    align-items: center;
    height: 50px;
}
.flex-nav {
    list-style: none;
    padding-right: 50px;
}
.flex-nav li{
    padding: 5px;
}
.flex-nav li a{
    text-decoration: none;
    color: #A93660;
    padding: 20px;
    font-weight: 500;
    font-size:18px
}
.flex-nav li a:hover{
    color: #009cd8;
}
.logo{
    cursor: pointer;
}
.active{
    border: 2px solid black;
}
.sec1{
    background-color: red;
}
.body1-wrap{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #A93660;
    height: 585px; 
}
.body1-wrap{
    overflow: hidden;
}
.green1{
   
    text-align: center;
}
.green1 h1{
    margin: 20px;
}
.green1 p{
    line-height: 1.3em;
    font-size: 20px;
}
.green1btn{
    margin-bottom: 40px;
    margin-top: 20px;
}
.green1btn button{
    padding: 5px 20px;
    width: 200px;
    text-align: center;
    background-color: #A93660;
    border: none;
    color: white;
}
.body2-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}
.icong-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width:80%;
}
.icons-parent1{
    display: flex;
    flex-basis:300px;
    margin: 10px;
}
.padd{
    align-self: center;
    border: 2px solid  #A93660;
    font-family: 'Roboto', sans-serif;
    color: #A93660;
    padding: 10px;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.padd2{
    padding: 5px;
}
.green2{
    padding: 10px;
    margin: 20px;
}
.body3-wrap{
    
    display: flex;
    height: 450px;
    background: rgb(146,161,161);
background: linear-gradient(260deg, rgba(146,161,161,1) 100%, rgba(227,227,227,1) 100%);

}
.aside1,.row{
    flex-basis: 45%;
    margin: 10px;
   
}
.green3wrap h1{
    padding: 30px;
    padding-left: 20px;
}
.green3wrap h1:hover{
    color: darkslategray;
}
.green3wrap p{
    line-height: 1.7em;
    padding: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
.green3wrap button{
    margin-left: 30px;
    padding: 5px 10px;
    border: 2px solid #A93660;
    background-color: #A93660;
    color: ghostwhite;
}

.img1{
    position: absolute;
    top:70px;
    border-radius: 15px;
}
.img2{
    position: absolute;
    z-index:  1;
    top: 150px;
    right:20%;
    border-radius: 20px;
}
.side1{
    width: 700px
}
.body4-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 450px;
}
.section44{
    line-height: 1.5em;
}
.wraping4icon{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.paddicon3{
    border:2px solid #A93660;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #A93660;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
}
.body5-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(146,161,161);
}
.part1{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    
}
.email{
    padding: 10px;
    margin: 10px;
    width: 450px;
    border: none;
}
.submit{
    padding: 10px 20px;
    margin: 5px;
    background-color: #A93660;
    color: white;
    border: 1px solid #A93660;
}
.submit:focus{
    border: 2px solid black;
}
.email:focus{
    border: 3px solid #A93660;
}
.part2{
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 150px;
    align-items: center;
}
.part2p{
    width: 100%;
    background-color: rgba(255,255,255,0.2);
}
.body6-wrap{
    display: flex;
    height: 300px;
    justify-content:space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}
.link-tab1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 130px;
    margin-top: 30px;
}
.link-tab2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 130px;
    margin-top: 30px;
}
.link-tab3{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 130px;
    margin-top: 30px;
}
.link-tab4{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 130px;
    margin-top: 30px;
}
.link-tab1, a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}
.link-tab1, a:hover{
    color: deepskyblue;
}